[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
pyyaml = "*"
jinja2 = "*"

[dev-packages]
pep8-naming = "*"
black = "*"
flake8 = "*"
pre-commit = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
